@model DardaniaRealEstate.Models.Office

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Office</h4>
<hr />

<form asp-action="Edit">
    <div class="row">
        <div class="col-md">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommunesID" class="control-label"></label>
                <select asp-for="CommunesID" class="form-control" asp-items="ViewBag.CommunesID"></select>
                <span asp-validation-for="CommunesID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Squaremetres" class="control-label"></label>
                <input asp-for="Squaremetres" class="form-control" />
                <span asp-validation-for="Squaremetres" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Warehouse" /> @Html.DisplayNameFor(model => model.Warehouse)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Bathroom" /> @Html.DisplayNameFor(model => model.Bathroom)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Options" class="control-label"></label>
                <input asp-for="Options" class="form-control" />
                <span asp-validation-for="Options" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a class="btn btn-danger" asp-action="Index">Back</a>
                <input type="submit" value="Save" class="btn btn-primary float-right" />
            </div>
        </div>
        <div class="col-md">
            <div class="form-group">
                <label asp-for="Photo" class="control-label"></label>
                <input asp-for="Photo" class="form-control" />
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GoogleMapsLink" class="control-label"></label>
                <input asp-for="GoogleMapsLink" class="form-control" />
                <span asp-validation-for="GoogleMapsLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

        </div>
    </div>
</form>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
